kfserving/
pipelines/
serving/
dataset/
output/
models/
results/
results_ori/
logs/
#机器参数.txt
serving_dist/
# network_file_system/
.idea/
AOI/fabric_mutli/model/
PPT/
Pseudo-Label-Keras/
Course/Course_IntroduceOfDeepLearning/Video
Course/Course_IntroduceOfDeepLearning/PPT
Course/Course_Shubaotaolun/
Course/Kaggle-Peking-University-Baidu-Autonomous-Driving-32-place-solution
.ipynb_checkpoints/
model/
Video/
.mp4
furry-dev/
論文/
plugins/profile
my_logs
notebook/
.pages
Course
chips_back_semi
lab3/

/AOI/2023KnowDistill/reference/
